*.o
*.exe
makefile
*.pro
*.dia~
*.aux
*.log
*.gz
*.docx#
*/ui_mainwindow.h
*/Makefile
*/moc_mainwindow.cpp
*/moc_predefs.h
*/src/src
*.vscode
*.aux
*.gz
*.toc
*.bcf
*.xml
*.log
*.cls
*.bbl
*.blg
*.out
src
